build/
devel/
install/
log/
.catkin_tools/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt

*.bag
*.pcd
*.ply
*.mp4
!docs/s2p_slam_vp_debug_rgb_60s.mp4
*.avi
*.mov
*.mkv
*.tgz
*.tar.gz
*.zip
*.so
*.a
*.o

__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
.env
